*, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.row {
    display: flex;
    &-jc-sb {
        justify-content: space-between;
    }
    &-ai-c {
        align-items: center;
    }
}