header {
    padding: 0 80px;
    background-color: rgb(227, 241, 254);
    height: 12%;
}

header h2 {
    font-weight: 650;
}

header li {
    padding-left: 30px;
    font-weight: 500;
}

nav a:hover {
    color: black;
    border-bottom: solid 1.5px black;
}

.active-nav {
    border-bottom: 1.5px solid rgb(54,63,68);
    color: black;
}
 
.logo {
    max-width: 50px;
}