header {
    padding: 0 80px;
    background-color: rgb(227, 241, 254);
    height: 12%;
}

header h2 {
    font-weight: 650;
}

header li {
    padding-left: 30px;
    font-weight: 500;
}

.logo {
    max-width: 50px;
}